body {
  background-color: #E4F1F0;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100;
  padding: none;
}
/* Footer*/
#footer{
  display: flex;
  flex-direction:row-reverse;
  background-color: #00454E;
  color: #E4F1F0;
  font-size: 20px;
  padding: 0.1%;
  position: static;

  width: 100%;}
  /* footer end*/


#container {
  display: grid;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'menu'
    'footer';
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-around;
  align-items: flex-start;
}

img {
  max-width: 40px;
  max-height: 40px;
}

#logo {
  max-width: 100px;
  max-height: 100px;
}

#menu {
  display: flex;
  flex-direction: column;
}

.knap {
  color: #FEFEFE;
  background: #00454E;
  border: none;
  padding: 10px;
  margin: 5px;
}
