body {
  background-color: #E4F1F0;
}

#container {
  display: grid;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'menu'
    'footer';
}

#header {
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
  align-items: flex-start;
}
