body {
  background-color: #E4F1F0;
}
/* Footer*/
.footer{
  display: flex;
  flex-direction:row-reverse;
  background-color: #00454E;
  color: #d0ded8;
  font-size: 20px;
  padding: 0.1%;
  position: fixed;
  bottom: 0;
  width: 100%;}


#container {
  display: grid;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'menu'
    'footer';
}

#header {
  background-color: tomato;

}
